/* -------------------------------------
 * Colors & Fonts
 * ------------------------------------- */
$navbar-color: black;
$navbar-hover-color: $yellow;
$navbar-font-family: $header-font;
$navbar-bg: white;

/* -------------------------------------
 * Box model
 * ------------------------------------- */
$navbar-height: 50px;
$navbar-vertical-padding: 5px;
$navbar-horizontal-padding: 20px;
$navbar-border-bottom-width: 0;
$navbar-border-bottom-color: grey;

/* -------------------------------------
 * Navbar button
 * ------------------------------------- */
$navbar-btn-height: 40px;
$navbar-btn-bg: lightgrey;
$navbar-btn-color: white;
$navbar-btn-horizontal-padding: 10px;
$navbar-btn-radius: 2px;

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */
$navbar-profile-radius: 50%;
$navbar-profile-border-color: white;
$navbar-profile-border-width: 2px;

/* -------------------------------------
 * SCSS code
 * ------------------------------------- */
.navbar-wagon {
  background: $navbar-bg;
  font-family: $navbar-font-family;
  border: none;
  font-weight: 400;
  padding-left: $navbar-horizontal-padding;
  padding-right: $navbar-horizontal-padding;
  border-bottom: $navbar-border-bottom-width solid $navbar-border-bottom-color;
  min-height: 0;
  transition: background 0.4s ease;

  .navbar-nav > li > a,
  .navbar-nav > .open > a,
  .navbar-nav > li > a:focus,
  .navbar-nav > .open > a:focus {
    outline: none;
    color: $navbar-color;
    line-height: $navbar-height;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > .open > a:hover {
    color: $navbar-hover-color;
    background-color: transparent;
  }

  .navbar-brand,
  .navbar-brand:hover {
    outline: none;
    color: $navbar-color;
    padding-top: $navbar-vertical-padding;
    padding-bottom: $navbar-vertical-padding;
  }

  .navbar-nav > li > a.btn {
    line-height: $navbar-btn-height;
    padding: 0 $navbar-btn-horizontal-padding;
    color: $navbar-btn-color;
    border-radius: $navbar-btn-radius;
    margin-top: ($navbar-height + 2 * $navbar-vertical-padding - $navbar-btn-height) / 2;
    font-weight: bold;
    background-color: $navbar-btn-bg;
    font-size: 12px;
    &:hover{
      background-color: darken($navbar-btn-bg, 30%);
    }
  }

  .navbar-brand img, .navbar-brand svg {
    height: $navbar-height;
    padding: 0px;
  }

  .img-avatar{
    border: $navbar-profile-border-width solid $navbar-profile-border-color;
    box-shadow: 0 0 2px rgb(200, 200, 200);
    height: $navbar-height - (2 * $navbar-profile-border-width);
    margin-right: 10px;
    border-radius: $navbar-profile-radius;
  }

  .navbar-toggle {
    border-color: #dddddd;
    width: 45px;
    background: transparent;
  }

  .navbar-nav > li > .dropdown-menu{
    border-radius: 0;
    margin-top: 10px;
  }

  .navbar-nav > li > .dropdown-menu:before{
    position: absolute;
    background: white;
    height: 10px;
    width: 10px;
    content: "\00a0";
    display: block;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    transform: rotate(45deg);
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    z-index: -1;
  }
}

/* -------------------------------------
 * Navbar profile picture
 * ------------------------------------- */

@media screen and (max-width: 768px) {
  .navbar-wagon {
    .navbar-brand img, .navbar-brand svg {
      height: 50px;
    }
    .navbar-brand, .navbar-brand:hover
     {
      display: block;
      color: $navbar-color;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// navbar html
// <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
//       <div class="container-fluid">
//         <!-- Brand and toggle get grouped for better mobile display -->
//         <div class="navbar-header">
//           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
//             <span class="sr-only">Toggle navigation</span>
//             <span class="icon-bar"></span>
//             <span class="icon-bar"></span>
//             <span class="icon-bar"></span>
//           </button>
//           <% link_to "/index.html", class: "navbar-brand" do %>
//             <%= image_tag 'logo.svg' %>
//           <% end %>
//         </div>

//         <!-- Collect the nav links, forms, and other content for toggling -->
//         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

//           <ul class="nav navbar-nav navbar-right">
//             <li>
//               <% link_to "/pricing.html" do %>
//                 <i class="fa fa-dollar"></i> Pricing
//               <% end %>
//             </li>
//             <li>
//               <% link_to "/contact.html" do %>
//                 <i class="fa fa-envelope-o"></i> Contact
//               <% end %>
//             </li>
//             <li class="dropdown">
//               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Follow-us <span class="caret"></span></a>
//               <ul class="dropdown-menu" role="menu">
//                 <li><a href="https://www.facebook.com/lewagonformation"><i class="fa fa-facebook-square"></i> Facebook</a></li>
//                 <li><a href="https://twitter.com/lewagonparis"><i class="fa fa-twitter-square"></i> Twitter</a></li>
//               </ul>
//             </li>
//             <li><a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn">Order now</a></li>
//           </ul>
//         </div><!-- /.navbar-collapse -->
//       </div><!-- /.container-fluid -->
//     </nav>
