.gradient-bg {
  background: linear-gradient(156deg, #8bc6e1 0%, #9c8dbc 75%, #ab5c9b 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
