<div class="projects">
  <div class="project-heading">
  <h3>PROJECTS</h3>
  </div>
  <div class="project-cards">
    <div class="project-card-ronpa">
      <h3>Ronpa</h3>
      <link rel="stylesheet" href="#" class="card-link">
    </div>
    <div class="project-card-swapsies">
      <h3>Swapsies</h3>
      <link rel="stylesheet" href="#" class="card-link">
    </div>
    <div class="project-card-cocktail">
      <h3>Cocktail app</h3>
      <link rel="stylesheet" href="#" class="card-link">
    </div>
  </div>
</div>
