<div class="d-flex">
  <div class="project-card">
    <h3>Hello</h3>
  </div>
  <div class="project-card">
    <h3>dad</h3>
  </div>
  <div class="project-card">
    <h3>Thank You</h3>
  </div>
</div>
