<div class="gradient-bg" id="particle-div">
  <div class="text-center padded">
    <div id="main-heading">
      <h1>NOAH THORNE</h1>
    </div>
    <div id="description-text">
      <p>Full stack-developer | Tokyo, Japan</p>
    </div>
    <div>
      <ul id="social-media">
        <li class="icon"><a href=""><i class="fab fa-github-square"></i></a></li>
        <li class="icon"><a href=""><i class="fab fa-linkedin-square"></i></a></li>
        <li class="icon"><a href=""><i class="fab fa-facebook-square"></i></a></li>
        <li class="icon"><a href=""><i class="fab fa-instagram-square"></i></a></li>
      </ul>
    </div>
    <%= partial "project_cards" %>
  </div>
</div>

