<div class="gradient-bg">
  <div class="text-center padded">
    <h1>Noah Thorne</h1>
    <div class="d-flex">
      <%= partial "project_cards" %>
      <p>henlo you stinky bird</p>
      <!-- <div class="project-card">
        <h3>Ronpa!</h3>
      </div>
      <div class="project-card">
        <h3>Swapsies</h3>
      </div>
      <div class="project-card">
        <h3>Cocktails</h3>
      </div> -->
    </div>
  </div>
</div>
