<div class="gradient-bg" id="particle-div">
  <div class="text-center padded">
    <div id="main-heading">
      <h1>NOAH THORNE</h1>
    </div>
    <div id="description-text">
      <p>Full stack-developer | Tokyo, Japan</p>
    </div>
    <%= partial "project_cards" %>
  </div>
</div>

